
.header {
  text-align: center;
  background-color: #8B7D7B;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  
  
}



.container {
  background-image:url("http://media.istockphoto.com/photos/old-distressed-white-brick-wall-picture-id157333714");
  background-size: cover;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 65px;
  padding-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  
}

.info {
    float: center;
    background-color: #8B7D7B;
    width: 250px;
    border: 3px solid white;
    padding: 10px;
}

h1 {
  color: #00458B;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 52px;
  font-weight: 900;
  text-align: Center;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
}

h2 {
  color: Dark grey;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 23px;
  font-weight: 900;
  text-align: left;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
}

h3 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
}

p { 
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px;
}
