
.header {
}

body {
  text-align: Center;
  
  
}

.container {
  background-image:url(http://media.gettyimages.com/videos/abstract-geometric-triangles-background-blue-video-id467166666?s=640x640);
  background-size: cover;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  
}

.Experience {
}

.interests {
}

h1 {
  color: #5F9EA0;
  font-family: 'Playfair Display', serif;
  font-size: 52px;
  font-weight: 900;
  text-align: Center;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width: 50%;
}

h2 {
  color: Dark grey;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 900;
  text-align: Left;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width: 50%;
}


