
.header {
}

.body {
  background-image:url("https://static1.squarespace.com/static/51945be4e4b05b135b14e8c4/t/5212b464e4b07172002cd933/1420663974784/tips-for-growing-healthy-succulents-succulent-plant-echeveria-lola-needlesandleaves_net.JPG");
  background-size: cover;
  
}

.container {
  background-image:url("https://static1.squarespace.com/static/51945be4e4b05b135b14e8c4/t/5212b464e4b07172002cd933/1420663974784/tips-for-growing-healthy-succulents-succulent-plant-echeveria-lola-needlesandleaves_net.JPG");
  background-size: cover;
}

.Experience {
}

.interests {
}

h1 {
  color: #5F9EA0;
  font-family: 'Playfair Display', serif;
  font-size: 52px;
  font-weight: 900;
  text-align: Left;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width: 50%;
}

h2 {
  color: Dark grey;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 900;
  text-align: Left;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width: 50%;
}


